# Generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ADMIN_TOKEN=replace-with-at-least-32-random-characters
HOST=127.0.0.1
PORT=3000
DATABASE_PATH=./data/engine.sqlite
PLANNING_MS=300000
CONFLICT_MS=180000
MAX_TURNS=20
